* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clock {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 3px solid black;
  position: relative;
}

.handContainerHours {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  border-radius: 50%;
  height: 180px;
}
.hours {
  border-radius: 50% 50% 0 0;
  height: 90px;
  width: 4px;
  background: black;
}
.handContainerMinute {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  border-radius: 50%;
  height: 240px;
}

.minute {
  border-radius: 50% 50% 0 0;
  height: 120px;
  width: 3px;
  background: black;
}

.handContainerSecondes {
  top: 25%;
  position: absolute;
  height: 300px;
}

.secondes {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: black;
}

.middle {
  border-radius: 50%;
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.num {
  position: absolute;
  font-size: 30px;
}

.num-12 {
  top: 0;
  left: 131px;
}

.num-1 {
  top: 25px;
  left: 207px;
}
.num-2 {
  top: 75px;
  left: 247px;
}
.num-3 {
  top: 130px;
  left: 264px;
}
.num-4 {
  top: 189px;
  left: 244px;
}
.num-5 {
  top: 236px;
  left: 201px;
}
.num-6 {
  top: 250px;
  left: 139px;
}
.num-7 {
  top: 236px;
  left: 79px;
}
.num-8 {
  top: 189px;
  left: 33px;
}
.num-9 {
  top: 134px;
  left: 7px;
}
.num-10 {
  top: 75px;
  left: 18px;
}
.num-11 {
  top: 28px;
  left: 61px;
}

.digital {
  display: flex;
  justify-content: center;
  align-items: center;
}
